
main {
    column-count: 2;
  }
  


/* Fuentes */
body {
font-family: Arial, sans-serif;
font-size: 16px;
line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
font-family: Georgia, serif;
font-weight: bold;
}

/* Colores */
body {
background-color: #1b1c1d;
color: #ccc;
}

header, nav, main, footer {
background-color: #212427;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
margin: 0 auto;
max-width: 1200px;
padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
color: #ccc;
}

a {
color: #e67e22;
text-decoration: none;
}

a:hover {
color: #fff;
}

/* Layout */
header {
margin-bottom: 20px;
}

nav {
margin-bottom: 20px;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
}

nav li {
display: inline-block;
margin-right: 20px;
}

nav li:last-child {
margin-right: 0;
}

nav a {
display: block;
padding: 10px;
}

main {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

section {
flex-basis: calc(50% - 20px);
margin-bottom: 40px;
}

section:nth-child(odd) {
margin-right: 40px;
}

.post-preview {
margin-bottom: 20px;
border-bottom: 1px solid #444;
padding-bottom: 20px;
}

.post-preview h2 {
font-size: 24px;
margin-bottom: 10px;
color: #ccc;
}

.post-preview p.post-meta {
color: #999;
font-size: 14px;
margin-bottom: 10px;
}

.post {
margin-bottom: 40px;
}

.post h2 {
font-size: 36px;
margin-bottom: 20px;
color: #ccc;
}

.post p.post-meta {
color: #999;
font-size: 14px;
margin-bottom: 20px;
}

/* Nuevos estilos para la página de contacto */
.contact-info {
display: flex;
flex-wrap: wrap;
align-items: center;
}

.contact-info i {
font-size: 40px;
margin-right: 20px;
color: #e67e22;
}

.contact-info p {
font-size: 16px;
line-height: 1.5;
color: #ccc;
}

.contact-form {
background-color: #212427;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
margin-bottom: 40px;
}

.contact-form h2 {
font-size: 36px;
margin-bottom: 20px;
color: #ccc;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
background-color: #1b1c1d;
border: none;
border-bottom: 2px solid #e67e22;
color: #ccc;
font-size: 16px;
padding: 10px;
margin-bottom: 20px;
}

.contact-form input[type="submit"] {
background-color: #e67e22;
border: none;
color: #fff}