main {
  column-count: 2;
}

Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1 fr;


}

/* Fuentes */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
  font-weight: bold;
}

/* Colores */
body {
  background-color: #1b1c1d;
  color: #ccc;
}

/*Header*/

header {
  background-color: #96550a;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

/*barra de navegacion*/
nav {
justify-content: center;
  box-shadow: 0 0 px rgba(255, 253, 253, 0.1);
  margin-left: 5%;
}


body {
  margin-right: rem;
  font-family: Arial, Helvetica, sans-serif;
}



main,
footer {
  background-color: #212427;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ccc;
}

a {
  color: #e67e22;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

/* Layout */
header {
  margin-bottom: 1px;
}

nav {
  margin-right: 1rem;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  margin-right: 1rem;
  display: block;
  padding: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

Container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}
section1 {
  background-color: #6939022c;
  margin: 1rem;
padding: 1rem;
  border-radius: 10px;
  padding: 2rem;
  grid-column: 1/ 4;
  grid-row: 1/1;
  flex-basis: calc(50% - 20px);
  margin-bottom: 40px;
}

section2 {
  background-color: #6939022c;
  margin: 1rem;
padding: 1rem;
  border-radius: 10px;
  grid-column: 2/4;
  grid-row: 2/2;
  flex-basis: calc(50% - 20px);


}

section3 {
  grid-column: 1/4;
  background-color: #6939022c;
  margin: 1rem;
padding: 1rem;
  border-radius: 10px;
  grid-row: 3/3;
  flex-basis: calc(50% - 20px);
  margin-bottom: 40px;
  padding: 2rem;
}


/* Nuevos estilos para la página de contacto */
form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #222020;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

form label {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  border: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

form input[type="submit"] {
  background-color: #ffb005;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.2s ease-in-out;
}

form input[type="submit"]:hover {
  background-color: #cc5c00;
}

